// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html, body{
	height: 100%;
}

#app{
	display: flex;
	flex-flow: column;
	height: 100%;
}

main{
	flex: 1;
	padding-top: 32px;
}

.page-footer{
	background: transparent;

	*{
		background: transparent;
		margin: 0;
		padding: 0;	
	}
	
	nav{
		align-items: center;
		background: #fff;
		color: #333;	
		display: flex;
		flex-flow: column;
		justify-content: center;

		ul{
			background: #fff;
			display: flex;
			justify-content: center;

			li{		
				align-items: center;
				background: #eee;
				border-radius: 50%;
				cursor: pointer;
				display: flex;
				font-weight: bolder;
				height: 32px;		
				justify-content: center;
				margin: 0 16px;
				padding: 22px;
				width: 32px;

				*:hover{
					background: transparent !important;					
				}
			}

			li.active{
				background: #ec6c40;
				color: #fff;				
				
				*:hover{
					background: transparent !important;					
				}
			}

		}			
	}
}

.oa{overflow: auto;}
