<template>
	<div class="card">							
		<div class="container card-content">				
			<div class="input-field col s12">
				<i class="material-icons prefix">account_circle</i>
				<input id="nome" type="text" class="validate" v-model="nome" ref="nome" maxlength="60">
				<label :class="getClass(nome)" for="nome">Nome</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">email</i>
				<input id="email" type="email" class="validate" v-model="email" ref="email" maxlength="45">
				<label :class="getClass(email)" for="email">E-mail</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">phone</i>
				<the-mask id="telefone" type="tel" class="validate" v-model="telefone" ref="telefone" maxlength="12" :mask="['#####-####']"/>
				<label :class="getClass(telefone)" for="telefone">Telefone</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">credit_card</i>
				<the-mask id="cpf" type="text" class="validate" v-model="cpf" ref="cpf" maxlength="14" :mask="['###.###.###-##']"/>
				<label :class="getClass(cpf)" for="cpf">CPF</label>
			</div>
			<div class="input-field col s12">
				<i class="material-icons prefix">date_range</i>
				<input id="data_nascimento" type="date" class="validate" v-model="data_nascimento" ref="data_nascimento">
				<label :class="getClass(data_nascimento)" for="data_nascimento">Data de nascimento</label>
			</div>				
		</div>		
	</div>	
</template>

<script>

export default {

	props:['input'],

	methods:{

		getClass(attribute){

			return attribute == '' ? '': 'active'
		}
	},

	data(){

		return this.input
	},

	mounted() {

		console.log('CardPessoa mounted.')		
	}
}

</script>
