<template>
	<div class="card">										
		<div class="card-content">	
			<span class="card-title">{{index + 1}} - Endereço</span>	
			<div class="row">
				<div class="input-field col s12 l8">					
					<input :id="endereco_key" type="text" class="validate" v-model="endereco" maxlength="60">
					<label :class="getClass(endereco)" :for="endereco_key">Endereço</label>
				</div>
				<div class="input-field col s12 l4">					
					<input :id="numero_endereco_key" type="text" class="validate" v-model="numero_endereco" maxlength="15">
					<label :class="getClass(numero_endereco)" :for="numero_endereco_key">Número</label>
				</div>
			</div>						
			<div class="row">
				<div class="input-field col s12 l4">					
					<input :id="bairro_key" type="text" class="validate" v-model="bairro" maxlength="35">
					<label :class="getClass(bairro)" :for="bairro_key">Bairro</label>
				</div>
				<div class="input-field col s12 l4">
					<select ref="cidade" class="browser-default" v-model="cidade" :disabled="cidades.length == 0">
						<option value="" disabled selected>Cidade</option>
						<option v-for="(cidade,i) in cidades" :value="cidade.id" :key="i">
							{{cidade.nome}}
						</option>						
					</select>	
				</div>				
				<div class="input-field col s12 l4">
					<select ref="uf" class="browser-default" v-model="uf" @change="changeUf" :disabled="ufs.length == 0">
						<option value="" disabled selected>UF</option>
						<option v-for="(uf,i) in ufs" :value="uf.id" :key="i">
							{{uf.sigla}} - {{uf.nome}}
						</option>						
					</select>					
				</div>			
			</div>
			<div class="input-field col s12">				
				<input :id="complemento_key" type="tel" class="validate" v-model="complemento" maxlength="15">
				<label :class="getClass(complemento)" :for="complemento_key">Complemento</label>
			</div>
		</div>
		<div class="card-action">
			<div class="right-align">
				<a class="btn-floating btn-large waves-effect waves-light red" @click="clickDelete">
					<i class="material-icons">delete</i>
				</a>
			</div>
		</div>	
	</div>	
</template>

<script>

export default {

	props: ['input', 'index'],

	methods:{

		async fetchUfs(){

			let res = await fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados')

			if(res.ok){

				res = await res.json()

				this.ufs = res

				this.$forceUpdate()

				Vue.nextTick(() => M.FormSelect.init(this.$refs.uf, {}))

				if(this.cidade) this.fetchCities()
				
			}else{

				if(confirm('Ocorreu um problema ao carregar os estados. Deseja repetir?')) this.fetchUfs()
			}
		},

		async fetchCities(){

			let res = await fetch(`https://servicodados.ibge.gov.br/api/v1/localidades/estados/${this.uf}/municipios`)

			if(res.ok){

				res = await res.json()

				this.cidades = res

				this.$forceUpdate()

				Vue.nextTick(() => M.FormSelect.init(this.$refs.cidade, {}))
				
			}else{

				if(confirm('Ocorreu um problema ao carregar as cidades. Deseja repetir?')) this.fetchUfs()
			}
		},

		changeUf(){

			this.cidade = ''
			this.cidades = []

			this.fetchCities()
		},

		clickDelete(){

			this.$emit('delete', this.index)
		},

		getClass(attribute){

			return attribute == '' ? '': 'active'
		}
	},

	data(){

		return Object.assign(this.input, {

			endereco_key:        Math.random(),
			numero_endereco_key: Math.random(),
			bairro_key:          Math.random(),
			complemento_key:     Math.random(),

			ufs: [],
			cidades: []
		})
	},

	mounted() {

		console.log('CardPessoaEndereco mounted.')		

		this.fetchUfs()
	}
}

</script>

<style scoped>

select{
	border: none;
	border-bottom: 1px solid #9e9e9e;
}

</style>
