<template>
<div>
	
	<nav class="row">
		<div class="nav-wrapper deep-orange accent-2">
			<div class="container">
				<a href="#" class="brand-logo truncate">
					<i class="material-icons prefix">account_circle</i>
					{{input ? 'Editar cliente' : 'Adicionar cliente'}}
				</a>				
			</div>
		</div>
	</nav>
	

	<div class="container">

		<div class="right-align">
			<a class="waves-effect waves-light btn-large green" @click="input ? clickUpdate() : clickSave()">	
				Salvar
			</a>			
			<a class="waves-effect waves-light btn-large red" href="/pessoas">	
				Voltar
			</a>			
		</div>	

		<card-pessoa :input="pessoa">
		</card-pessoa>

		<div class="center-align">
			<button class="waves-effect waves-light btn-large blue" @click="clickAdicionarEndereco">	
				Adicionar endereço
			</button>			
		</div>		

		<transition-group name="card" tag="div">
			<card-pessoa-endereco 
				v-for="(endereco,i) in pessoa.pessoa_enderecos" 
				:key="endereco.key || endereco.id"	
				:input="endereco" 
				:index="i" 
				@delete="deletePessoaEndereco(i)">
			</card-pessoa-endereco>			
		</transition-group>
	</div>	

</div>
</template>

<script>

export default {

	props:['input'],

	methods:{

		async fetchPessoa(){

			console.log('ScreenPessoa.fetchPessoa')

			let res = await fetch(`/pessoas/${this.input}`)

			if(res.ok){

				res = await res.json()

				res = JSON.parse(res)		

				console.log('ScreenPessoa.fetchPessoa', res)		

				Object.assign(this.pessoa, res)

			}else{


			}
		},

		clickAdicionarEndereco(){

			this.pessoa.pessoa_enderecos.unshift({

				key: Math.random(),
				endereco: '',
				numero_endereco: '',
				bairro: '',
				cidade: '',
				uf: '',
				complemento: ''
			})
		},

		deletePessoaEndereco(i){

			this.pessoa.pessoa_enderecos.splice(i,1)			
		},

		async clickSave(){		

			if(this.isInvalid()){
				alert(this.isInvalid())
				return
			}	

			let req = {

				method: 'POST',

				headers: {

					'Accept': 'application/json',
					'Content-Type': 'application/json',
					'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content
				},

				body: JSON.stringify(this.pessoa)
			}

			let res = await fetch('/pessoas', req)

			if (res.ok) {

				window.location.href = '/'

			} else {

				if(confirm('Ocorreu um problema ao salvar. Deseja repetir?')) this.clickSave()
			}
		},

		async clickUpdate(){		

			if(this.isInvalid()){
				alert(this.isInvalid())
				return
			}

			let req = {

				method: 'PUT',

				headers: {

					'Accept': 'application/json',
					'Content-Type': 'application/json',
					'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content
				},

				body: JSON.stringify(this.pessoa)
			}

			let res = await fetch(`/pessoas/${this.input}`, req)

			if (res.ok) {

				console.log('ScreenPessoa.clickUpdate', await res.json())	

				window.location.href = '/'

			} else {

				if(confirm('Ocorreu um problema ao salvar. Deseja repetir?')) this.clickSave()
			}
		},

		isInvalid(){

			if(this.pessoa.nome == "")            return "Nome não pode ser em branco."
			if(this.pessoa.email == "")           return "E-mail não pode ser em branco."
			if(this.pessoa.telefone == "")        return "Telefone não pode ser em branco."
			if(this.pessoa.cpf == "")             return "CPF não pode ser em branco."
			if(this.pessoa.data_nascimento == "") return "Data de nascimento não pode ser em branco."

			if(!this.pessoa.email.match(/\S+@\S+\.\S+/)) return "E-mail inválido."
			if(this.pessoa.telefone.length < 9)          return "Telefone inválido."
			if(this.pessoa.cpf.length < 11)              return "CPF inválido."

			for(let i in this.pessoa.pessoa_enderecos){

				if(this.pessoa.pessoa_enderecos[i].endereco == "")        return "Endereço não pode ser em branco."
				if(this.pessoa.pessoa_enderecos[i].numero_endereco == "") return "Número não pode ser em branco."
				if(this.pessoa.pessoa_enderecos[i].bairro == "")          return "Bairro não pode ser em branco."
				if(this.pessoa.pessoa_enderecos[i].cidade == "")          return "Cidade não pode ser em branco."
				if(this.pessoa.pessoa_enderecos[i].uf == "")              return "Estado não pode ser em branco."
				if(this.pessoa.pessoa_enderecos[i].complemento == "")     return "Complemento não pode ser em branco."
			}

			return false
		}
	},

	data(){

		return{

			pessoa:{

				nome: '',
				email: '',
				telefone: '',
				cpf: '',
				data_nascimento: '',
				pessoa_enderecos:[]
			}			
		}
	},

	mounted() {

		console.log('ScreenPessoa mounted.')

		if(this.input) this.fetchPessoa()		
	}
}
</script>

<style scoped>

.center-align{margin: 32px;}	
.right-align{margin: 32px;}	

.card {
  	transition: all 0.5s;
}

.card-enter{
  	opacity: 0;
  	transform: scale(0);
}

.card-enter-to {
  	opacity: 1;
  	transform: scale(1);
}

.card-leave {  
	opacity: 1;
  	transition: all 0.5s;
}

.card-leave-active{
	display: none;
}

.card-leave-to{
  	opacity: 0;
  	transform: scale(0);
}

.card-move {
  	opacity: 1;
  	transition: all 0.5s;
}

</style>